<footer class='chat-message-box'>
    <button class='chat-message-box__attach'>
        <img src="/attach.svg" alt="attach">
    </button>
    <form class='chat-message-box__message-form' id="send-message">
        <input
            class='chat-message-box__message'
            name='message'
            value='{{message}}'
        />
        {{> RoundedButton src="/right_arrow.svg" type="submit"}}
    </form>
</footer>
