.chat-message-box {
    align-items: center;
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.chat-message-box__attach {
    background-color: unset;
    padding: 0;
}

.chat-message-box__message-form {
    align-items: center;
    display: flex;
    flex: 1;
}

.chat-message-box__message {
    background: var(--primary-color);
    border-radius: 30px;
    color: var(--secondary-color);
    flex: 1;
    margin-right: 10px;
    padding: 10px 20px;
}
