.modal-window {
    background-color: var(--on-accent-color);
    border-radius: 12px;
    box-shadow: 0 0 6px 0 #00000024;
    float: left;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
}
