.avatar-picker__input {
    display: none;
}

.avatar-picker__image {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.avatar-picker__placeholder {
    object-fit: cover;
}

.avatar-picker__label {
    align-items: center;
    background: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 130px;
    justify-content: center;
    width: 130px;
}
