.chat {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 20px;
}

.chat__empty_chat {
    align-items: center;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    line-height: 12px;
}
