<div class="modal modal-sign modal-sign-in">
    <h2 class="modal-sign__header">Вход</h2>
    <form class="modal-sign__form">
        <div>
            {{> FormField type="text" label="Логин" id="login" value=login}}
            {{> FormField type="password" label="Пароль" id="password" value=password}}
        </div>
        <div>
            {{> Button id="sign-in" text="Войти" class="modal-sign__button"}}
            {{> Link href="#" data-page="/sign-up" text="Нет аккаунта?" class="modal-sign__link"}}
        </div>
    </form>
</div>