.inline-form-field {
    display: flex;
    justify-content: space-between;
}

.inline-form-field__input {
    color: var(--secondary-color);
    text-align: end;
}

.inline-form-field__container {
    display: flex;
    gap: 4px;
}

.inline-form-field__error {
    color: var(--error-color);
}
