{{#> ChatLayout }}
    {{#*inline "chats_feed"}}
        <div>Во втором спринте тут будет сделана лента чатов</div>
    {{/inline}}
    {{#*inline "chat"}}
        <div class="chat">
            {{> ChatHeader avatar=avatar name=name}}
            {{> ChatMessages }}
            {{> ChatMessageBox message=message}}
        </div>
    {{/inline}}
{{/ChatLayout}}

