{{#> ChatLayout }}
    {{#*inline "chats_feed"}}
        {{> ChatFeed chats=chats}}
    {{/inline}}
    {{#*inline "chat"}}
        <div class="chat">
            {{> ChatHeader avatar=avatar name=name}}
            {{> ChatMessages }}
            {{> ChatMessageBox message=message}}
        </div>
    {{/inline}}
{{/ChatLayout}}

