.avatar-picker__input {
    display: none;
}

.avatar-picker__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.avatar-picker__placeholder {
    object-fit: cover;
}

.avatar-picker__label {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
