.avatar {
    vertical-align: middle;
    border-radius: 50%;
    background: var(--primary-color);
    object-fit: cover;
}

.avatar-sm {
    width: 34px;
    height: 34px;
}

.avatar-m {
    width: 47px;
    height: 47px;
}
