.avatar {
    background: var(--primary-color);
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

.avatar-sm {
    height: 34px;
    width: 34px;
}

.avatar-m {
    height: 47px;
    width: 47px;
}
