<li class='chat-feed-item'>
    {{> Avatar src=avatar class="avatar-m chat-feed-item__avatar"}}
    <div class='chat-feed-item__text-container'>
        <div class="chat-feed-item__user-name">{{userName}}</div>
        <div class="chat-feed-item__message-container">
            {{#if myMessage}}
                <span class="chat-feed-item__my-message">Ğ’Ñ‹:</span>
            {{/if}}
            {{lastMessage}}
        </div>
    </div>
    <div class='chat-feed-item__info-container'>
        <span class='chat-feed-item__time'>{{messageTime}}</span>
        {{#if unreadMessagesCount}}
            <span class='chat-feed-item__badge'>{{unreadMessagesCount}}</span>
        {{/if}}
        
    </div>
</li>
