.form-field {
    margin-bottom: 16px;
}

.form-field__label {
    color: var(--secondary-color);
    display: block;
    font-size: 9px;
    line-height: 9px;
    margin-bottom: 8px;
}

.form-field__input {
    border-bottom: 1px solid var(--accent-color);
    display: block;
    padding-bottom: 6px;
    width: 100%;
}

.form-field__error {
    color: var(--error-color);
    font-size: 8px;
    font-weight: 400;
    line-height: 8px;
    margin-top: 4px;
}
