.link {
    cursor: pointer;
    text-decoration: none;
}

.link-disabled {
    pointer-events: none;
    cursor: default;
}

.link-accent {
    color: var(--accent-color);
}

.link-secondary {
    color: var(--secondary-color);
}

.link-tertiary {
    color: var(--tertiary-color);
}

.link-sm {
    font-size: 11px;
    line-height: 11px;
}

.link-m {
    font-size: 12px;
    line-height: 12px;
}

.link-l {
    font-size: 13px;
    line-height: 13px;
}
