.profile-layout {
    display: flex;
    height: 100vh;
}

.profile-layout__nav {
    align-items: center;
    background: var(--surface-color);
    display: flex;
    justify-content: center;
    width: 64px;
}

.profile-layout__content {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.profile-layout__avatar {
    margin-bottom: 21px;
    margin-top: 60px;
}

.profile-layout__first-name {
    margin-bottom: 60px;
}
