.profile-layout {
    height: 100vh;
    display: flex;
}

.profile-layout__nav {
    display: flex;
    width: 64px;
    align-items: center;
    justify-content: center;
    background: var(--surface-color);
}

.profile-layout__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.profile-layout__avatar {
    margin-top: 60px;
    margin-bottom: 21px;
}

.profile-layout__first-name {
    margin-bottom: 60px;
}
