.message-form {
    align-items: center;
    display: flex;
    flex: 1;
}

.message-form__message {
    background: var(--primary-color);
    border-radius: 30px;
    box-sizing: border-box;
    color: var(--secondary-color);
    flex: 1;
    margin-right: 10px;
    padding: 10px 20px;
}

.message-form-error {
    box-shadow: 0 0 4px 0 var(--error-color);
}
