<footer class='chat-message-box'>
    <button class='chat-message-box__attach'>
        <img src="/attach.svg">
    </button>
    <form class='chat-message-box__message-form'>
        <input
            class='chat-message-box__message'
            name='message'
            value='{{message}}'
        />
        {{> RoundedButton src="/right_arrow.svg" id="send-message"}}
    </form>
</footer>
