{{#> ProfileLayout avatar=avatar firstName=firstName class="profile-personal-data"}}
    <form id="profile-form">
        {{#> ProfileBlock}}
            {{> InlineFormField type="email" label="Почта" id="email" value=email}}
            {{> InlineFormField type="text" label="Логин" id="login" value=login}}
            {{> InlineFormField type="text" label="Имя" id="first_name" value=firstName}}
            {{> InlineFormField type="text" label="Фамилия" id="second_name" value=secondName}}
            {{> InlineFormField type="tel" label="Телефон" id="phone" value=phone}}
        {{/ProfileBlock}}
        {{> Button class="profile-personal-data__button" text="Сохранить" }}
    </form>
    
{{/ProfileLayout}}
