.profile-block {
    display: flex;
    flex-direction: column;
    width: 510px;
    gap: 10px;

    & > * {
        &:not(:last-child) {
            padding-bottom: 10px;
            border-bottom: 1px solid var(--primary-color);
        }
    }
}
