:root {
    --text-color: #1e1e1e;
    --primary-color: #3369f3;
    --accent-color: #ff0000;
    --secondary-color: #999999;
    --on-primary-color: #ffffff;
    --error-color: #ff2f2f;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}
