{{#> ProfileLayout avatar=avatar firstName=firstName class="profile-password"}}
    <form class="profile-block profile-password__block">
        {{> InlineFormField type="password" label="Старый пароль" id="oldPassword" value=oldPassword }}
        {{> InlineFormField type="password" label="Новый пароль" id="newPassword" value=newPassword }}
        {{> InlineFormField type="password" label="Повторите новый пароль" id="confirmedPassword" value=confirmedPassword }}
    </form>
    {{> Button id="save" text="Сохранить" }}
{{/ProfileLayout}}
