<form class='avatar-picker {{class}}'>
    <label for='file-input' class='avatar-picker__label'>
        {{#if src}}
            <img src='{{src}}' class='avatar-picker__image' />
        {{else}}
            <img src='/noavatar.svg' />
        {{/if}}
    </label>

    <input class='avatar-picker__input' id='file-input' type='file' />
</form>
