{{#> ProfileLayout avatar=avatar firstName=firstName class="profile-password"}}
    <form id="password-form">
        {{#> ProfileBlock}}
            {{> InlineFormField type="password" label="Старый пароль" id="oldPassword" value=oldPassword }}
            {{> InlineFormField type="password" label="Новый пароль" id="newPassword" value=newPassword }}
            {{> InlineFormField type="password" label="Повторите новый пароль" id="confirmedPassword" value=confirmedPassword }}
        {{/ProfileBlock}}
        {{> Button class="profile-password__button" text="Сохранить" type="submit"}}
    </form>
    
{{/ProfileLayout}}
