<div {{#if myMessage}} class='chat-message chat-message-my' {{else}} class='chat-message chat-message-opponent'{{/if}}>
    {{messageText}}
    <div class="chat-message__time">{{messageTime}}</div>
</div>
