.chat-message {
    max-width: 40%;
    padding: 12px;
}

.chat-message-opponent {
    background-color: var(--surface-color);
    border-radius: 0 10px 10px;
}

.chat-message-my {
    align-self: end;
    background-color: var(--secondary-surface-color);
    border-radius: 10px 10px 0;
}

.chat-message__time {
    color: var(--secondary-color);
    font-size: 9px;
    line-height: 9px;
    margin-top: 6px;
    text-align: right;
}
