{{#> ProfileLayout avatar=avatar firstName=firstName class="profile"}}
    <form class="profile__form">
        {{#> ProfileBlock}}
            {{> InlineFormField type="email" label="Почта" id="email" value=email disabled=disabled}}
            {{> InlineFormField type="text" label="Логин" id="login" value=login disabled=disabled}}
            {{> InlineFormField type="text" label="Имя" id="first_name" value=firstName disabled=disabled}}
            {{> InlineFormField type="text" label="Фамилия" id="second_name" value=secondName disabled=disabled}}
            {{> InlineFormField type="tel" label="Телефон" id="phone" value=phone disabled=disabled}}
        {{/ProfileBlock}}
    </form>
    {{#> ProfileBlock}}
        <span>{{> Link class="link-accent link-l" href="#" data-page="/change-profile" text="Изменить данные" }}</span>
        <span>{{> Link class="link-accent link-l" href="#" data-page="/change-password" text="Изменить пароль" }}</span>
        <span>{{> Link class="link-tertiary link-l" href="#" data-page="/" text="Выйти" }}</span>
    {{/ProfileBlock}}
{{/ProfileLayout}}

