.actions {
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
}

.actions__container {
    position: absolute;
    background-color: var(--on-accent-color);
    border-radius: 12px;
    box-shadow: 0 0 6px 0 #00000024;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    right: 10px;
    top: 68px;
}
