.sign-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px 30px 30px;
}

.sign-layout__header {
    margin-bottom: 40px;
}

.sign-layout__form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.sign-layout__button {
    margin-bottom: 14px;
}

.sign-layout__link {
    display: block;
    margin: 0 auto;
    width: fit-content;
}
