<div class='error-page'>
    <h1 class='error-page__error-code'>{{errorCode}}</h1>
    <h2 class='error-page__error-description'>{{description}}</h2>
    <span class='action_text' id='back_to_chat'>Назад к чатам</span>
</div>