<div class='error-page'>
    <h1 class='error-page__error-code'>{{errorCode}}</h1>
    <h2 class='error-page__error-description'>{{description}}</h2>
    {{> Link href="#" data-page="/chat" text="Назад к чатам" class="modal-sign__link"}}
</div>