.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.error-page__error-code {
    margin-bottom: 20px;
}

.error-page__error-description {
    margin-bottom: 70px;
}
